body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
}

.container{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border-bottom-right-radius: 80px;
    width: 50%;
}

.date-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    
}
.date-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.date-input label {
    font-size: 18px;
    color: black;
    margin-bottom: 5px;
}
.date-input input {
    width: 60px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}
.date-input input:focus {
    border-color: #7c4dff;
    box-shadow: 0 0 5px rgba(124, 77, 255, 0.5);
}

.age{
    padding-left: 20px;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.age span{
    color: hsl(228, 45%, 44%);
}

.container svg{
    background-color: black;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    padding: 15px;
}

@media screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }
   .container {
    width: 100%;
    margin-bottom: 20px;
   }
}

@media screen and (min-width: 600px) {
    body {
        flex-direction: row;
    }
    .container {
    width: 65%;
    }
    
}

@media screen and (min-width: 768px) {
    .container {
    width: 50%;
    }
}

@media screen and (min-width: 1024px){
    .container {
    width: 50%;
    } 
    
    .date-container{
        gap: 50px;
    }
    
    .date-input input {
        width: 100px;
        height: 40px;
    }

}